{% extends 'base.html' %}

    {% block content %}
    <main>
        <div class="container big-wrapper">
        <h1 class="text-light mb-5" style="text-align: center; color: #ff8a00 !important;">{{ matkul.matakuliah }}</h1>
        <ul style="color: white;">
            <li>{{ matkul.dosen }}</li>
            <li>{{ matkul.sks }} SKS</li>
            <li>{{ matkul.deskripsi }}</li>
            <li>{{ matkul.semester }}</li>
            <li>{{ matkul.kelas }}</li>
        </ul>
        </div>
    {% endblock %}