{% extends 'base.html' %}

{% block content %}
<main>
    <img src="../../static/img/matakuliah.svg" class="mx-auto d-block mb-5 img-fluid" alt="matkul">
    <div class="container text-xl-center text-lg-center text-md-center text-sm-center big-wrapper text-light">
        <div class="row d-flex justify-content-center">
        {% for matkul in object_list %}
        <div class="card m-2" style="width: 18rem">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">
                    {{ matkul.matakuliah }}
                </h5>
                <p class="card-text text-dark">
                    {{ matkul.deskripsi }}
                </p>
                <p class="card-text text-dark">
                    {{ matkul.kelas }}
                </p>
                <div class="mt-auto">
                <a href="{% url 'home:matkul-detail' matkul.pk %}"
                    class="btn btn-outline-light btn-lg text-light btn-block matkul-buttons">Details</a>
                <a href="{% url 'home:matkul-delete' matkul.pk %}"
                    class="btn btn-outline-light btn-lg text-light btn-block matkul-buttons">Delete</a>
                </div>
            </div>
        </div>
        {% endfor %}
        </div>
    </div>
</main>
{% endblock %}