{% extends 'base.html' %}

  {% block content %}
    <main>
      <img src="../../static/img/projects.svg" class="mx-auto d-block mb-5"  alt="projects-title">
      <div class="container text-xl-left text-lg-left text-md-center text-sm-center big-wrapper">
      <img src="../../static/img/budayakb.png" alt="">
      </div>
    </main>
    
{% endblock %}