{% extends 'base.html' %}

    {% block content %}
    <main>
        <img src="../../static/img/add-member.svg" class="mx-auto d-block mb-5 img-fluid" alt="matkuladd">
        <div class="container big-wrapper text-light">
            <div class="form-group">
                <form method="POST"> {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value='Save' class="btn btn-outline-light btn-lg text-light btn-block matkuladd-button">
                </form>
            </div>
        </div>
    </main>
    {% endblock %}