{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    <title>Andrew Nehemia H</title>
    <link rel="icon" href="../static/img/logo.svg">
  </head>
  <body style="background-color: #222;">
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-black rounded">
            <a class="navbar-brand" href="/">
                <img src="../../static/img/logo.svg" width="40" height="40" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
              <div class="mr-auto"></div>
              <div class="navbar-nav">
                <a class="nav-link mr-3 text-white" href="{% url 'home:about' %}">About</a>
                <a class="nav-link mr-3 text-white" href="{% url 'home:projects' %}">Projects</a>
                <li class="nav-item dropdown mr-3 my-0 ml-0">
                  <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Kegiatan
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color:black;">
                    <a class="nav-link text-white" href="{% url 'story6:kegiatan' %}">List Kegiatan</a>
                    <a class="nav-link text-white" href="{% url 'story6:add-kegiatan' %}">Tambah Kegiatan</a>
                    <a class="nav-link text-white" href="{% url 'story6:add-member' %}">Tambah Member</a>
                  </div>
                </li>
                <a class="nav-link mr-3 text-white" href="{% url 'home:matakuliah' %}">Mata Kuliah</a>
                <a class="nav-link mr-3 text-white" href="{% url 'home:matakuliah-add' %}">Tambah Mata Kuliah</a>
                <a class="nav-link mr-3 text-white" href="{% url 'story7:experiences' %}">Experiences</a>
                <a class="nav-link mr-3 text-white" href="{% url 'story8:index' %}">Search Books</a>
                <a class="nav-link mr-3 text-white" href="{% url 'story9:register' %}">Register</a>
                <a class="nav-link mr-3 text-white" href="{% url 'login' %}">Login</a>
              </div>
            </div>
          </nav>
    </header>
    {% block content %}
    {% endblock %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>