body{
    background-color: #222;
    font-family: "Roboto";
}
header{
    padding: 1.5rem;
}
.navbar{
    background-color: black;
}
main{
    padding: 3vmin;
}
.img-fluid{
    display: inline-block;
}
h5{
    color: #000;
}
#mypic{
    align-self: center;
}
.matkul-buttons{
    background-color: #FF8A00;
    margin-top: 1em ;
    margin-bottom: 1em;
    text-decoration: none;
    transition: 0.2s;
}
.matkul-buttons:hover{
    background-color: black;
    color: #FF8A00 !important;
}
.matkuladd-button{
    background-color: #FF8A00;
    margin-top: 1em ;
    margin-bottom: 1em;
    text-decoration: none;
    transition: 0.2s;
}
.matkuladd-button:hover{
    background-color: white;
    color: #ff8a00 !important;
}
.delete:hover{
    background-color: #000;
    color: rgb(255, 49, 49);
}
#email{
    background-color: #FF8A00;
    margin-top: 1em ;
    margin-bottom: 1em;
    text-decoration: none;
    transition: 0.2s;
}
#email:hover{
    background-color: white;
    color: #FF8A00 !important;
}
li{
    margin: 1em;
}
li:first-child{
    margin-top: 0%;
}
.nav-link{
    transition: 0.2s;
}
.nav-link:hover{
    color: #FF8A00 !important;
}
.navbar-brand{
    transition: 0.2s;
}
.navbar-brand:hover{
    opacity: 50%;
}
a{
    text-decoration: none !important;
}
.soc-icons{
    text-decoration: none;
    transition: 0.2s;
    color: whitesmoke;
    text-shadow: #FF8A00;
}
.soc-icons:hover{
    z-index: 1;
    text-decoration: none;
    transform: scale(1.25);
    color: whitesmoke;
}
.skill{
    background-color: black;
    padding: 20px;
    border-radius: 20px;
    transition: 0.2s ease-in-out;
}
.skill:hover{
    background-color: #FF8A00;
}
.perks{
    transition: 0.3s ease-in-out;
}
.perks:hover{
    z-index: 1;
    transform: scale(1.25);
}

@media screen and (max-width: 991px){
    ul{
        padding-inline-start:0;
    }
    #mypic{
        width: 50%;
    }
    li{
        list-style-type: none;
    }
    li:last-child{
        margin-bottom: 3em;
    }
    .perks{
        width: 70%;
        margin-bottom: 5em;
    }
    .perks:first-child{
        margin-top: 4em;
    }
}
@media (max-width: 575.98px) {
    main .big-wrapper{
        text-align: center;
    }
}
