@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    background-color: #222;
    font-family: "Roboto", sans-serif;
    color: white;
    text-align: center;
    margin-top: 3em;
}
h1{
    color: #FF8A00;
}
a{
    text-decoration: none;
}
.show{
    margin: 3em;
}
.book-desc{
    background-color: white;
    margin: 2em;
    padding: 2em;
    color: black;
    border-radius: 10px;
    line-height: 1em;
}
#more{
    background-color: #FF8A00;
    color: white;
    padding: 1em;
    border-radius: 5px;
}
#more:hover{
    background-color: #a76317;
    transition: 0.2s;
}